@import '@fontsource-variable/inter';

//My variables
$tbody-color: #252F4A;
$tbody-color-dark: #B5B7C9;
$thead-color: #98A1B7;
$thead-color-dark: #646674;

//Bootstrap Variables
$nav-link-color: $thead-color;
$nav-link-font-weight: 500;
$nav-link-hover-color: $tbody-color;
$border-color: #F1F1F4;
$border-color-dark: #26272F;
$border-radius: 21px !default;
$btn-border-radius-sm: 21px;
$btn-padding-y:               11px;
$btn-padding-x:               16px;
$btn-padding-y-sm:            4.8px;
$btn-padding-x-sm:            12.9px;
$btn-font-size:               16.5px;
$table-cell-padding-y:        1.1rem;
$table-cell-padding-x:        1.1rem;
$font-family-base: 'Inter Variable';
$card-cap-padding-y: 20px;
$card-cap-padding-x: 34px;
$card-spacer-x: 34px;
$card-cap-bg: unset;

// Global
.card {
  box-shadow:  0px 3px 4px 0px rgba(0, 0, 0, 0.03);
  border-color: $border-color !important;
}
[data-bs-theme="dark"] .card {
  border-color: $border-color-dark !important;
}
.card-header {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 1.75!important;
}
[data-table-library_td] > div {
  white-space: unset !important;
  overflow: unset !important
}
.image-50 {
  width: 50px;
  height: 50px;
  object-fit: cover
}
.table > :not(caption) > * > * {
  border-bottom: 1px dashed $border-color;
}
[data-bs-theme="dark"] .table > :not(caption) > * > * {
  border-bottom: 1px dashed $border-color-dark;
}

table thead th {
    color: $thead-color !important;
    font-weight: 600;
    font-size: 12.35px;
    text-transform: uppercase;
}
#svg-icon-chevron-single-up-down {
  fill: $thead-color;
}
#svg-icon-chevron-single-up {
  fill: $thead-color;
}
#svg-icon-chevron-single-down {
  fill: $thead-color;
}
[data-bs-theme="dark"] table thead th {
  color: $thead-color-dark !important;
}
[data-bs-theme="dark"] #svg-icon-chevron-single-up-down {
  fill: $thead-color-dark;
}
[data-bs-theme="dark"] #svg-icon-chevron-single-up {
  fill: $thead-color-dark;
}
[data-bs-theme="dark"] #svg-icon-chevron-single-down {
  fill: $thead-color-dark;
}
table tbody td {
  color: $tbody-color !important;
  font-size: 13.975px
}
[data-bs-theme="dark"] table tbody td {
  color: $tbody-color-dark !important;
  font-size: 13.975px
}



//Auto complete
.autocomplete-pedro {
  position: relative;
}
.autocomplete-pedro svg {
  position: absolute;
  right: 18px;
}
.autocomplete-pedro input:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: rgb(134, 182.5, 254);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.autocomplete-pedro input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


@import "~bootstrap/scss/bootstrap";



